# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TelegramAPIPlugin.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Linus\git\cryptCorr\Plugins\TelegramAPI TDlib\TelegramAPIPlugin\.idea\.idea.TelegramAPIPlugin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
