<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="LoggingAdapterNlogtoOTAP" />
    </extensions>

    <targets>
        <target name="TAPLogAdapter" xsi:type="NLogToOTAPAdapter"
                layout="|${pad:padding=5:inner=${level:uppercase=true}} | ${message}       | ${logger}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="TAPLogAdapter" />
    </rules>
</nlog>